@font-face {
    font-family: Varela Round;
    src: url(fonts/VarelaRound-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    direction: ltr;
    font-family: 'Varela Round';
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
}

.container {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #fff;
}

.header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 100px;
}

.header .header-container .name a {
    font-size: 1.25rem;
    font-weight: bold;
    color: #093a58;
    text-transform: capitalize;
}

.header .header-container .navbar {
    display: flex;
    gap: 50px;
}

.header .header-container .navbar li a {
    font-size: 0.95rem;
    color: #3acec2;
    text-transform: uppercase;
}

.header .header-container .navbar li a:hover {
    color: #093a58;
}

.hero-section {
    margin-top: 100px;
    padding: 50px 0;
    text-align: center;
    background: #3acec2;
    color: #fff;
    line-height: 1.6;
}

.hero-section img {
    width: 190px;
}

.hero-section .headline {
    margin-top: 30px;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.hero-section .tagline {
    font-size: 1.4rem;
}

.main-section .main-section-container {
    display: flex;
    line-height: 1.6;
    padding: 70px 0;
}

.main-section .main-section-container .section .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #093a58;
}

.main-section .main-section-container .section1 {
    width: 30%;
    padding-right: 15px;
}

.main-section .main-section-container .section2 {
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
}

.main-section .main-section-container .section2 .title {
    padding-bottom: 20px;
}

.main-section .main-section-container .section2 .figure {
    position: relative;
}

.main-section .main-section-container .section2 .figure .figure-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(19, 43, 102, .85);
    color: #fff;
    font-size: 0.9rem;
    line-height: 1;
    padding: 15px;
}

.main-section .main-section-container .section2 .figure .figure-caption .figure-title {
    text-align: center;
    font-weight: bold;
}

.main-section .main-section-container .section3 {
    width: 30%;
    padding-left: 15px;
}

.footer {
    background: #d9e4ea;
    text-align: center;
    padding: 35px;
}

@media (max-width: 980px) {
    .main-section .main-section-container {
        flex-wrap: wrap;
    }

    .main-section .main-section-container .section1 {
        width: 50%;
    }

    .main-section .main-section-container .section2 {
        width: 50%;
        padding-right: 0;
    }

    .main-section .main-section-container .section3 {
        width: 100%;
        padding-left: 0;
    }
}

@media (max-width: 760px) {
    .main-section .main-section-container .section1 {
        width: 100%;
        padding-right: 0;
    }

    .main-section .main-section-container .section2 {
        width: 100%;
        padding-left: 0;
    }
}

@media (max-width: 605px) {
    .header .header-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }

    .header .header-container .name {
        flex-shrink: 0;
    }

    .header .header-container .navbar li {
        flex-shrink: 0;
    }
}

@media (max-width: 470px) {
    .header .header-container .navbar {
        gap: 20px;
    }
}